wsdl/test/2.3/bim/common/Elhub_BusinessDataType.xsd

<?xml version="1.0" encoding="utf-8"?>
<xsd:schema targetNamespace="urn:no:elhub:emif:common:BusinessDataType:v2" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:bdt="urn:no:elhub:emif:common:BusinessDataType:v2" elementFormDefault="qualified" version="2.3">
	<xsd:simpleType name="AcknowledgementStatus">
		<xsd:restriction base="xsd:string">
			<xsd:enumeration value="39"/>
			<xsd:enumeration value="41"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="AddDeleteUpdate">
		<xsd:restriction base="xsd:string">
			<xsd:enumeration value="Add"/>
			<xsd:enumeration value="Delete"/>
			<xsd:enumeration value="Update"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="AddressTypeType">
		<xsd:restriction base="xsd:string">
			<xsd:enumeration value="invoiceadr"/>
			<xsd:enumeration value="postaladr"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="BRSIdentification">
		<xsd:restriction base="xsd:string">
			<xsd:enumeration value="BRS-NO-101"/>
			<xsd:enumeration value="BRS-NO-102"/>
			<xsd:enumeration value="BRS-NO-103"/>
			<xsd:enumeration value="BRS-NO-104"/>
			<xsd:enumeration value="BRS-NO-111"/>
			<xsd:enumeration value="BRS-NO-121"/>
			<xsd:enumeration value="BRS-NO-122"/>
			<xsd:enumeration value="BRS-NO-123"/>
			<xsd:enumeration value="BRS-NO-131"/>
			<xsd:enumeration value="BRS-NO-132"/>
			<xsd:enumeration value="BRS-NO-133"/>
			<xsd:enumeration value="BRS-NO-201"/>
			<xsd:enumeration value="BRS-NO-202"/>
			<xsd:enumeration value="BRS-NO-211"/>
			<xsd:enumeration value="BRS-NO-212"/>
			<xsd:enumeration value="BRS-NO-213"/>
			<xsd:enumeration value="BRS-NO-214"/>
			<xsd:enumeration value="BRS-NO-221"/>
			<xsd:enumeration value="BRS-NO-222"/>
			<xsd:enumeration value="BRS-NO-223"/>
			<xsd:enumeration value="BRS-NO-224"/>
			<xsd:enumeration value="BRS-NO-301"/>
			<xsd:enumeration value="BRS-NO-302"/>
			<xsd:enumeration value="BRS-NO-303"/>
			<xsd:enumeration value="BRS-NO-305"/>
			<xsd:enumeration value="BRS-NO-306"/>
			<xsd:enumeration value="BRS-NO-311"/>
			<xsd:enumeration value="BRS-NO-312"/>
			<xsd:enumeration value="BRS-NO-313"/>
			<xsd:enumeration value="BRS-NO-314"/>
			<xsd:enumeration value="BRS-NO-315"/>
			<xsd:enumeration value="BRS-NO-317"/>
			<xsd:enumeration value="BRS-NO-318"/>
			<xsd:enumeration value="BRS-NO-321"/>
			<xsd:enumeration value="BRS-NO-322"/>
			<xsd:enumeration value="BRS-NO-324"/>
			<xsd:enumeration value="BRS-NO-332"/>
			<xsd:enumeration value="BRS-NO-391"/>
			<xsd:enumeration value="BRS-NO-402"/>
			<xsd:enumeration value="BRS-NO-501"/>
			<xsd:enumeration value="BRS-NO-502"/>
			<xsd:enumeration value="BRS-NO-503"/>
			<xsd:enumeration value="BRS-NO-511"/>
			<xsd:enumeration value="BRS-NO-512"/>
			<xsd:enumeration value="BRS-NO-601"/>
			<xsd:enumeration value="BRS-NO-602"/>
			<xsd:enumeration value="BRS-NO-611"/>
			<xsd:enumeration value="BRS-NO-622"/>
			<xsd:enumeration value="BRS-NO-623"/>
			<xsd:enumeration value="POLL"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="BusinessTypeCode">
		<xsd:restriction base="xsd:string">
			<xsd:enumeration value="HP01"/>
			<xsd:enumeration value="HP02"/>
			<xsd:enumeration value="HP03"/>
			<xsd:enumeration value="HP04"/>
			<xsd:enumeration value="LS01"/>
			<xsd:enumeration value="LS02"/>
			<xsd:enumeration value="LS03"/>
			<xsd:enumeration value="LS04"/>
			<xsd:enumeration value="LS05"/>
			<xsd:enumeration value="LS06"/>
			<xsd:enumeration value="LS07"/>
			<xsd:enumeration value="LS08"/>
			<xsd:enumeration value="MP01"/>
			<xsd:enumeration value="MP02"/>
			<xsd:enumeration value="RE01"/>
			<xsd:enumeration value="RE02"/>
			<xsd:enumeration value="RE03"/>
			<xsd:enumeration value="RE04"/>
			<xsd:enumeration value="SE02"/>
			<xsd:enumeration value="SE04"/>
			<xsd:enumeration value="SE05"/>
			<xsd:enumeration value="SE06"/>
			<xsd:enumeration value="SE07"/>
			<xsd:enumeration value="SE08"/>
			<xsd:enumeration value="SE09"/>
			<xsd:enumeration value="SE10"/>
			<xsd:enumeration value="SE11"/>
			<xsd:enumeration value="SE12"/>
			<xsd:enumeration value="SE13"/>
			<xsd:enumeration value="SE14"/>
			<xsd:enumeration value="SE15"/>
			<xsd:enumeration value="SE16"/>
			<xsd:enumeration value="SE17"/>
			<xsd:enumeration value="SE18"/>
			<xsd:enumeration value="SE19"/>
			<xsd:enumeration value="SE20"/>
			<xsd:enumeration value="SE21"/>
			<xsd:enumeration value="SE22"/>
			<xsd:enumeration value="SE23"/>
			<xsd:enumeration value="SE24"/>
			<xsd:enumeration value="SE25"/>
			<xsd:enumeration value="SE26"/>
			<xsd:enumeration value="SE27"/>
			<xsd:enumeration value="SE28"/>
			<xsd:enumeration value="SE29"/>
			<xsd:enumeration value="SE30"/>
			<xsd:enumeration value="SE31"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="CalculationMethod">
		<xsd:restriction base="xsd:string">
			<xsd:enumeration value="Automatic"/>
			<xsd:enumeration value="Manual"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="ChannelResolutionType">
		<xsd:restriction base="xsd:string">
			<xsd:enumeration value="N"/>
			<xsd:enumeration value="PT15M"/>
			<xsd:enumeration value="PT1H"/>
			<xsd:enumeration value="PT5M"/>
			<xsd:enumeration value="PT60M"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="CommunicationChannelType">
		<xsd:restriction base="xsd:string">
			<xsd:enumeration value="Email"/>
			<xsd:enumeration value="Mobile"/>
			<xsd:enumeration value="Phone"/>
			<xsd:enumeration value="Telefax"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="ConsumptionCode">
		<xsd:restriction base="xsd:string">
			<xsd:enumeration value="A04"/>
			<xsd:enumeration value="A07"/>
			<xsd:enumeration value="A15"/>
			<xsd:enumeration value="B27"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="CountryCode">
		<xsd:restriction base="xsd:string">
			<xsd:enumeration value="AD"/>
			<xsd:enumeration value="AE"/>
			<xsd:enumeration value="AF"/>
			<xsd:enumeration value="AG"/>
			<xsd:enumeration value="AI"/>
			<xsd:enumeration value="AL"/>
			<xsd:enumeration value="AM"/>
			<xsd:enumeration value="AO"/>
			<xsd:enumeration value="AQ"/>
			<xsd:enumeration value="AR"/>
			<xsd:enumeration value="AS"/>
			<xsd:enumeration value="AT"/>
			<xsd:enumeration value="AU"/>
			<xsd:enumeration value="AW"/>
			<xsd:enumeration value="AX"/>
			<xsd:enumeration value="AZ"/>
			<xsd:enumeration value="BA"/>
			<xsd:enumeration value="BB"/>
			<xsd:enumeration value="BD"/>
			<xsd:enumeration value="BE"/>
			<xsd:enumeration value="BF"/>
			<xsd:enumeration value="BG"/>
			<xsd:enumeration value="BH"/>
			<xsd:enumeration value="BI"/>
			<xsd:enumeration value="BJ"/>
			<xsd:enumeration value="BL"/>
			<xsd:enumeration value="BM"/>
			<xsd:enumeration value="BN"/>
			<xsd:enumeration value="BO"/>
			<xsd:enumeration value="BQ"/>
			<xsd:enumeration value="BR"/>
			<xsd:enumeration value="BS"/>
			<xsd:enumeration value="BT"/>
			<xsd:enumeration value="BV"/>
			<xsd:enumeration value="BW"/>
			<xsd:enumeration value="BY"/>
			<xsd:enumeration value="BZ"/>
			<xsd:enumeration value="CA"/>
			<xsd:enumeration value="CC"/>
			<xsd:enumeration value="CD"/>
			<xsd:enumeration value="CF"/>
			<xsd:enumeration value="CG"/>
			<xsd:enumeration value="CH"/>
			<xsd:enumeration value="CI"/>
			<xsd:enumeration value="CK"/>
			<xsd:enumeration value="CL"/>
			<xsd:enumeration value="CM"/>
			<xsd:enumeration value="CN"/>
			<xsd:enumeration value="CO"/>
			<xsd:enumeration value="CR"/>
			<xsd:enumeration value="CU"/>
			<xsd:enumeration value="CV"/>
			<xsd:enumeration value="CW"/>
			<xsd:enumeration value="CX"/>
			<xsd:enumeration value="CY"/>
			<xsd:enumeration value="CZ"/>
			<xsd:enumeration value="DE"/>
			<xsd:enumeration value="DJ"/>
			<xsd:enumeration value="DK"/>
			<xsd:enumeration value="DM"/>
			<xsd:enumeration value="DO"/>
			<xsd:enumeration value="DZ"/>
			<xsd:enumeration value="EC"/>
			<xsd:enumeration value="EE"/>
			<xsd:enumeration value="EG"/>
			<xsd:enumeration value="EH"/>
			<xsd:enumeration value="ER"/>
			<xsd:enumeration value="ES"/>
			<xsd:enumeration value="ET"/>
			<xsd:enumeration value="FI"/>
			<xsd:enumeration value="FJ"/>
			<xsd:enumeration value="FK"/>
			<xsd:enumeration value="FM"/>
			<xsd:enumeration value="FO"/>
			<xsd:enumeration value="FR"/>
			<xsd:enumeration value="GA"/>
			<xsd:enumeration value="GB"/>
			<xsd:enumeration value="GD"/>
			<xsd:enumeration value="GE"/>
			<xsd:enumeration value="GF"/>
			<xsd:enumeration value="GG"/>
			<xsd:enumeration value="GH"/>
			<xsd:enumeration value="GI"/>
			<xsd:enumeration value="GL"/>
			<xsd:enumeration value="GM"/>
			<xsd:enumeration value="GN"/>
			<xsd:enumeration value="GP"/>
			<xsd:enumeration value="GQ"/>
			<xsd:enumeration value="GR"/>
			<xsd:enumeration value="GS"/>
			<xsd:enumeration value="GT"/>
			<xsd:enumeration value="GU"/>
			<xsd:enumeration value="GW"/>
			<xsd:enumeration value="GY"/>
			<xsd:enumeration value="HK"/>
			<xsd:enumeration value="HM"/>
			<xsd:enumeration value="HN"/>
			<xsd:enumeration value="HR"/>
			<xsd:enumeration value="HT"/>
			<xsd:enumeration value="HU"/>
			<xsd:enumeration value="ID"/>
			<xsd:enumeration value="IE"/>
			<xsd:enumeration value="IL"/>
			<xsd:enumeration value="IM"/>
			<xsd:enumeration value="IN"/>
			<xsd:enumeration value="IO"/>
			<xsd:enumeration value="IQ"/>
			<xsd:enumeration value="IR"/>
			<xsd:enumeration value="IS"/>
			<xsd:enumeration value="IT"/>
			<xsd:enumeration value="JE"/>
			<xsd:enumeration value="JM"/>
			<xsd:enumeration value="JO"/>
			<xsd:enumeration value="JP"/>
			<xsd:enumeration value="KE"/>
			<xsd:enumeration value="KG"/>
			<xsd:enumeration value="KH"/>
			<xsd:enumeration value="KI"/>
			<xsd:enumeration value="KM"/>
			<xsd:enumeration value="KN"/>
			<xsd:enumeration value="KP"/>
			<xsd:enumeration value="KR"/>
			<xsd:enumeration value="KW"/>
			<xsd:enumeration value="KY"/>
			<xsd:enumeration value="KZ"/>
			<xsd:enumeration value="LA"/>
			<xsd:enumeration value="LB"/>
			<xsd:enumeration value="LC"/>
			<xsd:enumeration value="LI"/>
			<xsd:enumeration value="LK"/>
			<xsd:enumeration value="LR"/>
			<xsd:enumeration value="LS"/>
			<xsd:enumeration value="LT"/>
			<xsd:enumeration value="LU"/>
			<xsd:enumeration value="LV"/>
			<xsd:enumeration value="LY"/>
			<xsd:enumeration value="MA"/>
			<xsd:enumeration value="MC"/>
			<xsd:enumeration value="MD"/>
			<xsd:enumeration value="ME"/>
			<xsd:enumeration value="MF"/>
			<xsd:enumeration value="MG"/>
			<xsd:enumeration value="MH"/>
			<xsd:enumeration value="MK"/>
			<xsd:enumeration value="ML"/>
			<xsd:enumeration value="MM"/>
			<xsd:enumeration value="MN"/>
			<xsd:enumeration value="MO"/>
			<xsd:enumeration value="MP"/>
			<xsd:enumeration value="MQ"/>
			<xsd:enumeration value="MR"/>
			<xsd:enumeration value="MS"/>
			<xsd:enumeration value="MT"/>
			<xsd:enumeration value="MU"/>
			<xsd:enumeration value="MV"/>
			<xsd:enumeration value="MW"/>
			<xsd:enumeration value="MX"/>
			<xsd:enumeration value="MY"/>
			<xsd:enumeration value="MZ"/>
			<xsd:enumeration value="NA"/>
			<xsd:enumeration value="NC"/>
			<xsd:enumeration value="NE"/>
			<xsd:enumeration value="NF"/>
			<xsd:enumeration value="NG"/>
			<xsd:enumeration value="NI"/>
			<xsd:enumeration value="NL"/>
			<xsd:enumeration value="NO"/>
			<xsd:enumeration value="NP"/>
			<xsd:enumeration value="NR"/>
			<xsd:enumeration value="NU"/>
			<xsd:enumeration value="NZ"/>
			<xsd:enumeration value="OM"/>
			<xsd:enumeration value="PA"/>
			<xsd:enumeration value="PE"/>
			<xsd:enumeration value="PF"/>
			<xsd:enumeration value="PG"/>
			<xsd:enumeration value="PH"/>
			<xsd:enumeration value="PK"/>
			<xsd:enumeration value="PL"/>
			<xsd:enumeration value="PM"/>
			<xsd:enumeration value="PN"/>
			<xsd:enumeration value="PR"/>
			<xsd:enumeration value="PS"/>
			<xsd:enumeration value="PT"/>
			<xsd:enumeration value="PW"/>
			<xsd:enumeration value="PY"/>
			<xsd:enumeration value="QA"/>
			<xsd:enumeration value="RE"/>
			<xsd:enumeration value="RO"/>
			<xsd:enumeration value="RS"/>
			<xsd:enumeration value="RU"/>
			<xsd:enumeration value="RW"/>
			<xsd:enumeration value="SA"/>
			<xsd:enumeration value="SB"/>
			<xsd:enumeration value="SC"/>
			<xsd:enumeration value="SD"/>
			<xsd:enumeration value="SE"/>
			<xsd:enumeration value="SG"/>
			<xsd:enumeration value="SH"/>
			<xsd:enumeration value="SI"/>
			<xsd:enumeration value="SJ"/>
			<xsd:enumeration value="SK"/>
			<xsd:enumeration value="SL"/>
			<xsd:enumeration value="SM"/>
			<xsd:enumeration value="SN"/>
			<xsd:enumeration value="SO"/>
			<xsd:enumeration value="SR"/>
			<xsd:enumeration value="SS"/>
			<xsd:enumeration value="ST"/>
			<xsd:enumeration value="SV"/>
			<xsd:enumeration value="SX"/>
			<xsd:enumeration value="SY"/>
			<xsd:enumeration value="SZ"/>
			<xsd:enumeration value="TC"/>
			<xsd:enumeration value="TD"/>
			<xsd:enumeration value="TF"/>
			<xsd:enumeration value="TG"/>
			<xsd:enumeration value="TH"/>
			<xsd:enumeration value="TJ"/>
			<xsd:enumeration value="TK"/>
			<xsd:enumeration value="TL"/>
			<xsd:enumeration value="TM"/>
			<xsd:enumeration value="TN"/>
			<xsd:enumeration value="TO"/>
			<xsd:enumeration value="TR"/>
			<xsd:enumeration value="TT"/>
			<xsd:enumeration value="TV"/>
			<xsd:enumeration value="TW"/>
			<xsd:enumeration value="TZ"/>
			<xsd:enumeration value="UA"/>
			<xsd:enumeration value="UG"/>
			<xsd:enumeration value="UM"/>
			<xsd:enumeration value="US"/>
			<xsd:enumeration value="UY"/>
			<xsd:enumeration value="UZ"/>
			<xsd:enumeration value="VA"/>
			<xsd:enumeration value="VC"/>
			<xsd:enumeration value="VE"/>
			<xsd:enumeration value="VG"/>
			<xsd:enumeration value="VI"/>
			<xsd:enumeration value="VN"/>
			<xsd:enumeration value="VU"/>
			<xsd:enumeration value="WF"/>
			<xsd:enumeration value="WS"/>
			<xsd:enumeration value="YE"/>
			<xsd:enumeration value="YT"/>
			<xsd:enumeration value="ZA"/>
			<xsd:enumeration value="ZM"/>
			<xsd:enumeration value="ZW"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="CurrencyCode">
		<xsd:restriction base="xsd:string">
			<xsd:enumeration value="DKK"/>
			<xsd:enumeration value="EUR"/>
			<xsd:enumeration value="NOK"/>
			<xsd:enumeration value="SEK"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="decimal122">
		<xsd:restriction base="xsd:decimal">
			<xsd:fractionDigits value="2"/>
			<xsd:maxExclusive value="10000000000"/>
			<xsd:minInclusive value="0"/>
			<xsd:totalDigits value="12"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="decimal122Negative">
		<xsd:restriction base="xsd:decimal">
			<xsd:fractionDigits value="2"/>
			<xsd:maxExclusive value="10000000000"/>
			<xsd:minExclusive value="-10000000000"/>
			<xsd:totalDigits value="12"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="decimal125">
		<xsd:restriction base="xsd:decimal">
			<xsd:fractionDigits value="5"/>
			<xsd:maxExclusive value="10000000"/>
			<xsd:minInclusive value="0"/>
			<xsd:totalDigits value="12"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="decimal153">
		<xsd:restriction base="xsd:decimal">
			<xsd:fractionDigits value="3"/>
			<xsd:maxExclusive value="1000000000000"/>
			<xsd:minInclusive value="0"/>
			<xsd:totalDigits value="15"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="decimal153Negative">
		<xsd:restriction base="xsd:decimal">
			<xsd:fractionDigits value="3"/>
			<xsd:maxExclusive value="1000000000000"/>
			<xsd:minExclusive value="-1000000000000"/>
			<xsd:totalDigits value="15"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="decimal52">
		<xsd:restriction base="xsd:decimal">
			<xsd:fractionDigits value="2"/>
			<xsd:maxInclusive value="100"/>
			<xsd:minInclusive value="0"/>
			<xsd:totalDigits value="5"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="decimal85">
		<xsd:restriction base="xsd:decimal">
			<xsd:fractionDigits value="5"/>
			<xsd:maxExclusive value="1000"/>
			<xsd:minInclusive value="0"/>
			<xsd:totalDigits value="8"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="DirectionType">
		<xsd:restriction base="xsd:string">
			<xsd:enumeration value="In"/>
			<xsd:enumeration value="Out"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="DurationCodeType">
		<xsd:restriction base="xsd:string">
			<xsd:enumeration value="P1D"/>
			<xsd:enumeration value="P1M"/>
			<xsd:enumeration value="P1Y"/>
			<xsd:enumeration value="PT5M"/>
			<xsd:enumeration value="PT15M"/>
			<xsd:enumeration value="PT1H"/>
			<xsd:enumeration value="PT30M"/>
			<xsd:enumeration value="PT60M"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="Elhub_boolean">
		<xsd:restriction base="xsd:boolean">
			<xsd:pattern value="true|false"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="Elhub_BusinessProcessRole">
		<xsd:restriction base="xsd:string">
			<xsd:enumeration value="AG"/>
			<xsd:enumeration value="BSL"/>
			<xsd:enumeration value="DDE"/>
			<xsd:enumeration value="DDK"/>
			<xsd:enumeration value="DDM"/>
			<xsd:enumeration value="DDQ"/>
			<xsd:enumeration value="DDZ"/>
			<xsd:enumeration value="DDX"/>
			<xsd:enumeration value="MDR"/>
			<xsd:enumeration value="PQ"/>
			<xsd:enumeration value="QRY"/>
			<xsd:enumeration value="SLR"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="Elhub_dateTime9DecType">
		<xsd:restriction base="xsd:dateTime">
			<xsd:pattern value="[1-9][0-9]{3}-.+T[^.]+(|\.[0-9]{0,9})(Z|[+\-].+)"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="Elhub_dateTimeType">
		<xsd:restriction base="xsd:dateTime">
			<xsd:pattern value="[1-9][0-9]{3}-.+T[^.]+(|\.[0-9]{0,3})(Z|[+\-].+)"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="Elhub_DocumentType">
		<xsd:restriction base="xsd:string">
			<xsd:enumeration value="21"/>
			<xsd:enumeration value="392"/>
			<xsd:enumeration value="406"/>
			<xsd:enumeration value="414"/>
			<xsd:enumeration value="432"/>
			<xsd:enumeration value="E02"/>
			<xsd:enumeration value="E07"/>
			<xsd:enumeration value="E10"/>
			<xsd:enumeration value="E13"/>
			<xsd:enumeration value="E30"/>
			<xsd:enumeration value="E31"/>
			<xsd:enumeration value="E39"/>
			<xsd:enumeration value="E58"/>
			<xsd:enumeration value="E65"/>
			<xsd:enumeration value="E66"/>
			<xsd:enumeration value="E67"/>
			<xsd:enumeration value="ERR"/>
			<xsd:enumeration value="294"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="Elhub_EnergyIndustryClassificationType">
		<xsd:restriction base="xsd:string">
			<xsd:enumeration value="23"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="Elhub_MeteringPointTypeCode">
		<xsd:restriction base="xsd:string">
			<xsd:enumeration value="E17"/>
			<xsd:enumeration value="E18"/>
			<xsd:enumeration value="E19"/>
			<xsd:enumeration value="E20"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="Elhub_PhysicalStatusCode">
		<xsd:restriction base="xsd:string">
			<xsd:enumeration value="E22"/>
			<xsd:enumeration value="E23"/>
			<xsd:enumeration value="E31"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="Elhub_ProductIdentifierCode">
		<xsd:restriction base="xsd:string">
			<xsd:enumeration value="8716867000030"/>
			<xsd:enumeration value="8716867000047"/>
			<xsd:enumeration value="8716867000139"/>
			<xsd:enumeration value="8716867000146"/>
			<xsd:enumeration value="4700000000201"/>
			<xsd:enumeration value="4700000000101"/>
			<xsd:enumeration value="4700000000301"/>
			<xsd:enumeration value="4700000000302"/>
			<xsd:enumeration value="4700000000303"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="Elhub_ResponseReasonCode">
		<xsd:restriction base="xsd:token">
			<xsd:enumeration value="E09"/>
			<xsd:enumeration value="EH001"/>
			<xsd:enumeration value="EH002"/>
			<xsd:enumeration value="EH003"/>
			<xsd:enumeration value="EH004"/>
			<xsd:enumeration value="EH005"/>
			<xsd:enumeration value="EH006"/>
			<xsd:enumeration value="EH007"/>
			<xsd:enumeration value="EH008"/>
			<xsd:enumeration value="EH009"/>
			<xsd:enumeration value="EH010"/>
			<xsd:enumeration value="EH011"/>
			<xsd:enumeration value="EH012"/>
			<xsd:enumeration value="EH013"/>
			<xsd:enumeration value="EH014"/>
			<xsd:enumeration value="EH015"/>
			<xsd:enumeration value="EH016"/>
			<xsd:enumeration value="EH017"/>
			<xsd:enumeration value="EH018"/>
			<xsd:enumeration value="EH019"/>
			<xsd:enumeration value="EH020"/>
			<xsd:enumeration value="EH021"/>
			<xsd:enumeration value="EH022"/>
			<xsd:enumeration value="EH023"/>
			<xsd:enumeration value="EH024"/>
			<xsd:enumeration value="EH025"/>
			<xsd:enumeration value="EH026"/>
			<xsd:enumeration value="EH027"/>
			<xsd:enumeration value="EH028"/>
			<xsd:enumeration value="EH029"/>
			<xsd:enumeration value="EH030"/>
			<xsd:enumeration value="EH031"/>
			<xsd:enumeration value="EH032"/>
			<xsd:enumeration value="EH033"/>
			<xsd:enumeration value="EH034"/>
			<xsd:enumeration value="EH035"/>
			<xsd:enumeration value="EH036"/>
			<xsd:enumeration value="EH037"/>
			<xsd:enumeration value="EH038"/>
			<xsd:enumeration value="EH039"/>
			<xsd:enumeration value="EH040"/>
			<xsd:enumeration value="E10"/>
			<xsd:enumeration value="E11"/>
			<xsd:enumeration value="E12"/>
			<xsd:enumeration value="E13"/>
			<xsd:enumeration value="E14"/>
			<xsd:enumeration value="E15"/>
			<xsd:enumeration value="E16"/>
			<xsd:enumeration value="E17"/>
			<xsd:enumeration value="E18"/>
			<xsd:enumeration value="E19"/>
			<xsd:enumeration value="E22"/>
			<xsd:enumeration value="E29"/>
			<xsd:enumeration value="E36"/>
			<xsd:enumeration value="E37"/>
			<xsd:enumeration value="E47"/>
			<xsd:enumeration value="E49"/>
			<xsd:enumeration value="E50"/>
			<xsd:enumeration value="E51"/>
			<xsd:enumeration value="E52"/>
			<xsd:enumeration value="E54"/>
			<xsd:enumeration value="E55"/>
			<xsd:enumeration value="E59"/>
			<xsd:enumeration value="E61"/>
			<xsd:enumeration value="E62"/>
			<xsd:enumeration value="E72"/>
			<xsd:enumeration value="E73"/>
			<xsd:enumeration value="E86"/>
			<xsd:enumeration value="E87"/>
			<xsd:enumeration value="E97"/>
			<xsd:enumeration value="E98"/>
			<xsd:enumeration value="E81"/>
			<xsd:enumeration value="E90"/>
			<xsd:enumeration value="E91"/>
			<xsd:enumeration value="E0H"/>
			<xsd:enumeration value="E0I"/>
			<xsd:enumeration value="E0J"/>
			<xsd:enumeration value="E0K"/>
			<xsd:enumeration value="E0L"/>
			<xsd:enumeration value="E0M"/>
			<xsd:enumeration value="EH041"/>
			<xsd:enumeration value="EH042"/>
			<xsd:enumeration value="EH043"/>
			<xsd:enumeration value="EH044"/>
			<xsd:enumeration value="EH045"/>
			<xsd:enumeration value="EH046"/>
			<xsd:enumeration value="EH047"/>
			<xsd:enumeration value="EH048"/>
			<xsd:enumeration value="EH049"/>
			<xsd:enumeration value="EH050"/>
			<xsd:enumeration value="EH051"/>
			<xsd:enumeration value="EH052"/>
			<xsd:enumeration value="EH053"/>
			<xsd:enumeration value="EH054"/>
			<xsd:enumeration value="EH055"/>
			<xsd:enumeration value="EH056"/>
			<xsd:enumeration value="EH057"/>
			<xsd:enumeration value="EH058"/>
			<xsd:enumeration value="EH059"/>
			<xsd:enumeration value="EH060"/>
			<xsd:enumeration value="EH061"/>
			<xsd:enumeration value="EH062"/>
			<xsd:enumeration value="EH063"/>
			<xsd:enumeration value="EH064"/>
			<xsd:enumeration value="EH065"/>
			<xsd:enumeration value="EH066"/>
			<xsd:enumeration value="EH067"/>
			<xsd:enumeration value="EH068"/>
			<xsd:enumeration value="EH069"/>
			<xsd:enumeration value="EH070"/>
			<xsd:enumeration value="EH071"/>
			<xsd:enumeration value="EH072"/>
			<xsd:enumeration value="EH073"/>
			<xsd:enumeration value="EH074"/>
			<xsd:enumeration value="EH075"/>
			<xsd:enumeration value="EH076"/>
			<xsd:enumeration value="EH077"/>
			<xsd:enumeration value="EH078"/>
			<xsd:enumeration value="EH079"/>
			<xsd:enumeration value="EH080"/>
			<xsd:enumeration value="EH081"/>
			<xsd:enumeration value="EH082"/>
			<xsd:enumeration value="EH083"/>
			<xsd:enumeration value="EH084"/>
			<xsd:enumeration value="EH085"/>
			<xsd:enumeration value="EH086"/>
			<xsd:enumeration value="EH087"/>
			<xsd:enumeration value="EH088"/>
			<xsd:enumeration value="EH089"/>
			<xsd:enumeration value="EH090"/>
			<xsd:enumeration value="EH091"/>
			<xsd:enumeration value="EH092"/>
			<xsd:enumeration value="EH093"/>
			<xsd:enumeration value="EH094"/>
			<xsd:enumeration value="EH095"/>
			<xsd:enumeration value="EH096"/>
			<xsd:enumeration value="EH097"/>
			<xsd:enumeration value="EH098"/>
			<xsd:enumeration value="EH099"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="Elhub_schemeAgencyIdentifierType">
		<xsd:restriction base="xsd:string">
			<xsd:enumeration value="82"/>
			<xsd:enumeration value="Z01"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="Elhub_SettlementMethodCode">
		<xsd:restriction base="xsd:string">
			<xsd:enumeration value="E01"/>
			<xsd:enumeration value="E02"/>
			<xsd:enumeration value="Z01"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="Elhub_UnitType">
		<xsd:restriction base="xsd:string">
			<xsd:enumeration value="kWh"/>
			<xsd:enumeration value="kvarh"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="EndReasonType">
		<xsd:restriction base="xsd:string">
			<xsd:enumeration value="Z41"/>
			<xsd:enumeration value="Z42"/>
			<xsd:enumeration value="Z44"/>
			<xsd:enumeration value="Z45"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="EnovaFeeType">
		<xsd:restriction base="xsd:string">
			<xsd:enumeration value="ConsumptionDependent"/>
			<xsd:enumeration value="Fixed"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="EstimatedQualityCodeType">
		<xsd:restriction base="xsd:string">
			<xsd:enumeration value="56"/>
			<xsd:enumeration value="81"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="EstimationCodeType">
		<xsd:restriction base="xsd:string">
			<xsd:enumeration value="E001"/>
			<xsd:enumeration value="E002"/>
			<xsd:enumeration value="E003"/>
			<xsd:enumeration value="E004"/>
			<xsd:enumeration value="E005"/>
			<xsd:enumeration value="E006"/>
			<xsd:enumeration value="E007"/>
			<xsd:enumeration value="E008"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="integer2">
		<xsd:restriction base="xsd:int">
			<xsd:maxInclusive value="99"/>
			<xsd:minInclusive value="0"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="integer4">
		<xsd:restriction base="xsd:int">
			<xsd:maxInclusive value="9999"/>
			<xsd:minInclusive value="0"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="integer5">
		<xsd:restriction base="xsd:int">
			<xsd:maxInclusive value="99999"/>
			<xsd:minInclusive value="0"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="integer9">
		<xsd:restriction base="xsd:int">
			<xsd:maxInclusive value="999999999"/>
			<xsd:minInclusive value="0"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="listAgencyIdentifierType">
		<xsd:restriction base="xsd:string">
			<xsd:enumeration value="260"/>
			<xsd:enumeration value="6"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="listAgencyIdentifierType260">
		<xsd:restriction base="xsd:string">
			<xsd:enumeration value="260"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="listAgencyIdentifierType5">
		<xsd:restriction base="xsd:string">
			<xsd:enumeration value="5"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="listAgencyIdentifierType6">
		<xsd:restriction base="xsd:string">
			<xsd:enumeration value="6"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="listAgencyIdentifierType89">
		<xsd:restriction base="xsd:string">
			<xsd:enumeration value="89"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="listAgencyIdentifierType89_260">
		<xsd:restriction base="xsd:string">
			<xsd:enumeration value="260"/>
			<xsd:enumeration value="89"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="listAgencyIdentifierType89_6">
		<xsd:restriction base="xsd:string">
			<xsd:enumeration value="6"/>
			<xsd:enumeration value="89"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="long12">
		<xsd:restriction base="xsd:long">
			<xsd:maxInclusive value="999999999999"/>
			<xsd:minInclusive value="0"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="MeteringPointType">
		<xsd:restriction base="xsd:string">
			<xsd:pattern value="[0-9]{18}"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="MeterReadingCharacteristicsCode">
		<xsd:restriction base="xsd:string">
			<xsd:enumeration value="E13"/>
			<xsd:enumeration value="E14"/>
			<xsd:enumeration value="E16"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="MeterReadingOccurrenceType">
		<xsd:restriction base="xsd:string">
			<xsd:enumeration value="PT15M"/>
			<xsd:enumeration value="PT1H"/>
			<xsd:enumeration value="PT5M"/>
			<xsd:enumeration value="PT60M"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="MeterReadReasonCodeType">
		<xsd:restriction base="xsd:string">
			<xsd:enumeration value="1"/>
			<xsd:enumeration value="4"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="PriorityCodeType">
		<xsd:restriction base="xsd:string">
			<xsd:enumeration value="A"/>
			<xsd:enumeration value="B"/>
			<xsd:enumeration value="C"/>
			<xsd:enumeration value="D"/>
			<xsd:enumeration value="P"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="ProductionCode">
		<xsd:restriction base="xsd:string">
			<xsd:enumeration value="B14"/>
			<xsd:enumeration value="B16"/>
			<xsd:enumeration value="B20"/>
			<xsd:enumeration value="Z04"/>
			<xsd:enumeration value="Z05"/>
			<xsd:enumeration value="Z06"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="QueryCategoryCodeType">
		<xsd:restriction base="xsd:string">
			<xsd:enumeration value="MVRV"/>
			<xsd:enumeration value="MVTS"/>
			<xsd:enumeration value="MVVT"/>
			<xsd:enumeration value="MDCU"/>
			<xsd:enumeration value="MDMP"/>
			<xsd:enumeration value="STLM"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="ReminderType">
		<xsd:restriction base="xsd:string">
			<xsd:enumeration value="EAC"/>
			<xsd:enumeration value="IV"/>
			<xsd:enumeration value="MI"/>
			<xsd:enumeration value="PV"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="schemeAgencyIdentifierEICType">
		<xsd:restriction base="xsd:string">
			<xsd:enumeration value="305"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="schemeAgencyIdentifierGS1ElhubType">
		<xsd:restriction base="xsd:string">
			<xsd:enumeration value="89"/>
			<xsd:enumeration value="9"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="schemeAgencyIdentifierGS1Type">
		<xsd:restriction base="xsd:string">
			<xsd:enumeration value="9"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="String100Type">
		<xsd:restriction base="xsd:string">
			<xsd:minLength value="1"/>
			<xsd:maxLength value="100"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="String10Type">
		<xsd:restriction base="xsd:string">
			<xsd:minLength value="1"/>
			<xsd:maxLength value="10"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="String11Type">
		<xsd:restriction base="xsd:string">
			<xsd:minLength value="1"/>
			<xsd:maxLength value="11"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="String13Type">
		<xsd:restriction base="xsd:string">
			<xsd:minLength value="1"/>
			<xsd:maxLength value="13"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="String150Type">
		<xsd:restriction base="xsd:string">
			<xsd:minLength value="1"/>
			<xsd:maxLength value="150"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="String16Type">
		<xsd:restriction base="xsd:string">
			<xsd:minLength value="1"/>
			<xsd:maxLength value="16"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="String18Type">
		<xsd:restriction base="xsd:string">
			<xsd:minLength value="1"/>
			<xsd:maxLength value="18"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="String300Type">
		<xsd:restriction base="xsd:string">
			<xsd:minLength value="1"/>
			<xsd:maxLength value="300"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="String40Type">
		<xsd:restriction base="xsd:string">
			<xsd:minLength value="1"/>
			<xsd:maxLength value="40"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="String50Type">
		<xsd:restriction base="xsd:string">
			<xsd:minLength value="1"/>
			<xsd:maxLength value="50"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="String80Type">
		<xsd:restriction base="xsd:string">
			<xsd:minLength value="1"/>
			<xsd:maxLength value="80"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="UUIDType">
		<xsd:restriction base="xsd:string">
			<xsd:pattern value="[0-9a-f]{8}-[0-9a-f]{4}-[0-9a-f]{4}-[0-9a-f]{4}-[0-9a-f]{12}"/>
			<xsd:length value="36"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="ValidationCodeType">
		<xsd:restriction base="xsd:string">
			<xsd:enumeration value="V001"/>
			<xsd:enumeration value="V002"/>
			<xsd:enumeration value="V003"/>
			<xsd:enumeration value="V004"/>
			<xsd:enumeration value="V011"/>
			<xsd:enumeration value="V012"/>
			<xsd:enumeration value="V013"/>
			<xsd:enumeration value="V014"/>
			<xsd:enumeration value="V999"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="ValuesIndicatorType">
		<xsd:restriction base="xsd:string">
			<xsd:enumeration value="B"/>
			<xsd:enumeration value="I"/>
			<xsd:enumeration value="V"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="VATCode">
		<xsd:restriction base="xsd:string">
			<xsd:enumeration value="E"/>
			<xsd:enumeration value="S"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:complexType name="AcknowledgementStatusType">
		<xsd:simpleContent>
			<xsd:extension base="bdt:AcknowledgementStatus">
				<xsd:attribute name="listAgencyIdentifier" use="required" type="bdt:listAgencyIdentifierType6"/>
			</xsd:extension>
		</xsd:simpleContent>
	</xsd:complexType>
	<xsd:complexType name="CalculatedQuantityType">
		<xsd:simpleContent>
			<xsd:extension base="bdt:decimal153Negative">
				<xsd:attribute name="ImbalanceSettlement" use="optional" fixed="true" type="xsd:boolean"/>
			</xsd:extension>
		</xsd:simpleContent>
	</xsd:complexType>
	<xsd:complexType name="ConsumptionCodeType">
		<xsd:simpleContent>
			<xsd:extension base="bdt:ConsumptionCode">
				<xsd:attribute name="listAgencyIdentifier" use="required" type="bdt:listAgencyIdentifierType89"/>
			</xsd:extension>
		</xsd:simpleContent>
	</xsd:complexType>
	<xsd:complexType name="Elhub_BusinessProcessRoleType">
		<xsd:simpleContent>
			<xsd:extension base="bdt:Elhub_BusinessProcessRole">
				<xsd:attribute name="listAgencyIdentifier" use="required" type="bdt:listAgencyIdentifierType89_6"/>
			</xsd:extension>
		</xsd:simpleContent>
	</xsd:complexType>
	<xsd:complexType name="Elhub_BusinessProcessType">
		<xsd:simpleContent>
			<xsd:extension base="bdt:BRSIdentification">
				<xsd:attribute name="listAgencyIdentifier" use="required" type="bdt:listAgencyIdentifierType89"/>
			</xsd:extension>
		</xsd:simpleContent>
	</xsd:complexType>
	<xsd:complexType name="Elhub_BusinessTypeType">
		<xsd:simpleContent>
			<xsd:extension base="bdt:BusinessTypeCode">
				<xsd:attribute name="listAgencyIdentifier" use="required" type="bdt:listAgencyIdentifierType89"/>
			</xsd:extension>
		</xsd:simpleContent>
	</xsd:complexType>
	<xsd:complexType name="Elhub_CountryCodeType">
		<xsd:simpleContent>
			<xsd:extension base="bdt:CountryCode">
				<xsd:attribute name="listAgencyIdentifier" use="required" type="bdt:listAgencyIdentifierType5"/>
			</xsd:extension>
		</xsd:simpleContent>
	</xsd:complexType>
	<xsd:complexType name="Elhub_CurrencyCodeType">
		<xsd:simpleContent>
			<xsd:extension base="bdt:CurrencyCode">
				<xsd:attribute name="listAgencyIdentifier" use="required" type="bdt:listAgencyIdentifierType5"/>
			</xsd:extension>
		</xsd:simpleContent>
	</xsd:complexType>
	<xsd:complexType name="Elhub_DocumentNameCodeType">
		<xsd:simpleContent>
			<xsd:extension base="bdt:Elhub_DocumentType">
				<xsd:attribute name="listAgencyIdentifier" use="required" type="bdt:listAgencyIdentifierType"/>
			</xsd:extension>
		</xsd:simpleContent>
	</xsd:complexType>
	<xsd:complexType name="Elhub_EndUserIdentifierType">
		<xsd:simpleContent>
			<xsd:extension base="bdt:String11Type">
				<xsd:attribute name="schemeAgencyIdentifier" use="required" type="bdt:Elhub_schemeAgencyIdentifierType"/>
			</xsd:extension>
		</xsd:simpleContent>
	</xsd:complexType>
	<xsd:complexType name="Elhub_EnergyPartyIdentifierType">
		<xsd:simpleContent>
			<xsd:extension base="bdt:String13Type">
				<xsd:attribute name="schemeAgencyIdentifier" use="required" type="bdt:schemeAgencyIdentifierGS1Type"/>
			</xsd:extension>
		</xsd:simpleContent>
	</xsd:complexType>
	<xsd:complexType name="Elhub_MeteringGridAreaIdentifierType">
		<xsd:simpleContent>
			<xsd:extension base="bdt:String16Type">
				<xsd:attribute name="schemeAgencyIdentifier" use="required" type="bdt:schemeAgencyIdentifierEICType"/>
			</xsd:extension>
		</xsd:simpleContent>
	</xsd:complexType>
	<xsd:complexType name="Elhub_MeteringPointIdentifierType">
		<xsd:simpleContent>
			<xsd:extension base="bdt:MeteringPointType">
				<xsd:attribute name="schemeAgencyIdentifier" use="required" type="bdt:schemeAgencyIdentifierGS1Type"/>
			</xsd:extension>
		</xsd:simpleContent>
	</xsd:complexType>
	<xsd:complexType name="Elhub_MeteringPointTypeCodeType">
		<xsd:simpleContent>
			<xsd:extension base="bdt:Elhub_MeteringPointTypeCode">
				<xsd:attribute name="listAgencyIdentifier" use="required" type="bdt:listAgencyIdentifierType260"/>
			</xsd:extension>
		</xsd:simpleContent>
	</xsd:complexType>
	<xsd:complexType name="Elhub_MeterReadingCharacteristicsType">
		<xsd:simpleContent>
			<xsd:extension base="bdt:MeterReadingCharacteristicsCode">
				<xsd:attribute name="listAgencyIdentifier" use="required" type="bdt:listAgencyIdentifierType260"/>
			</xsd:extension>
		</xsd:simpleContent>
	</xsd:complexType>
	<xsd:complexType name="Elhub_PhysicalStatusCodeType">
		<xsd:simpleContent>
			<xsd:extension base="bdt:Elhub_PhysicalStatusCode">
				<xsd:attribute name="listAgencyIdentifier" use="required" type="bdt:listAgencyIdentifierType260"/>
			</xsd:extension>
		</xsd:simpleContent>
	</xsd:complexType>
	<xsd:complexType name="Elhub_ProductIdentifierType">
		<xsd:simpleContent>
			<xsd:extension base="bdt:Elhub_ProductIdentifierCode">
				<xsd:attribute name="schemeAgencyIdentifier" use="required" type="bdt:schemeAgencyIdentifierGS1ElhubType"/>
			</xsd:extension>
		</xsd:simpleContent>
	</xsd:complexType>
	<xsd:complexType name="Elhub_ResponseReasonCodeType">
		<xsd:simpleContent>
			<xsd:extension base="bdt:Elhub_ResponseReasonCode">
				<xsd:attribute name="listAgencyIdentifier" use="required" type="bdt:listAgencyIdentifierType89_260"/>
			</xsd:extension>
		</xsd:simpleContent>
	</xsd:complexType>
	<xsd:complexType name="Elhub_SettlementMethodCodeType">
		<xsd:simpleContent>
			<xsd:extension base="bdt:Elhub_SettlementMethodCode">
				<xsd:attribute name="listAgencyIdentifier" use="required" type="bdt:listAgencyIdentifierType89_260"/>
			</xsd:extension>
		</xsd:simpleContent>
	</xsd:complexType>
	<xsd:complexType name="EstimatedQuantityType">
		<xsd:simpleContent>
			<xsd:extension base="bdt:decimal153">
				<xsd:attribute name="Quality" use="required" type="bdt:EstimatedQualityCodeType"/>
				<xsd:attribute name="ValidationCode" use="required" type="bdt:ValidationCodeType"/>
				<xsd:attribute name="EstimationCode" use="required" type="bdt:EstimationCodeType"/>
			</xsd:extension>
		</xsd:simpleContent>
	</xsd:complexType>
	<xsd:complexType name="MeteredQuantityType">
		<xsd:simpleContent>
			<xsd:extension base="bdt:decimal153"/>
		</xsd:simpleContent>
	</xsd:complexType>
	<xsd:complexType name="ProductionCodeType">
		<xsd:simpleContent>
			<xsd:extension base="bdt:ProductionCode">
				<xsd:attribute name="listAgencyIdentifier" use="required" type="bdt:listAgencyIdentifierType89"/>
			</xsd:extension>
		</xsd:simpleContent>
	</xsd:complexType>
	<xsd:complexType name="ProfiledEstimatedQuantityType">
		<xsd:simpleContent>
			<xsd:extension base="bdt:decimal153Negative"/>
		</xsd:simpleContent>
	</xsd:complexType>
	<xsd:complexType name="ProfiledMeteredQuantityType">
		<xsd:simpleContent>
			<xsd:extension base="bdt:decimal153Negative">
				<xsd:attribute name="MeterReadReasonCode" use="required" type="bdt:MeterReadReasonCodeType"/>
			</xsd:extension>
		</xsd:simpleContent>
	</xsd:complexType>
	<xsd:complexType name="ProfiledMeterIndexType">
		<xsd:simpleContent>
			<xsd:extension base="bdt:decimal153">
				<xsd:attribute name="MeterReadReasonCode" use="required" type="bdt:MeterReadReasonCodeType"/>
			</xsd:extension>
		</xsd:simpleContent>
	</xsd:complexType>
	<xsd:complexType name="ProfiledStipulatedQuantityType">
		<xsd:simpleContent>
			<xsd:extension base="bdt:decimal153Negative">
				<xsd:attribute name="MeterReadReasonCode" use="required" type="bdt:MeterReadReasonCodeType"/>
			</xsd:extension>
		</xsd:simpleContent>
	</xsd:complexType>
	<xsd:complexType name="TemporaryQuantityType">
		<xsd:simpleContent>
			<xsd:extension base="bdt:decimal153">
				<xsd:attribute name="ValidationCode" use="required" type="bdt:ValidationCodeType"/>
				<xsd:attribute name="EstimationCode" use="optional" type="bdt:EstimationCodeType"/>
			</xsd:extension>
		</xsd:simpleContent>
	</xsd:complexType>
</xsd:schema>
