wsdl/local/2.3/wsdl/PollMeteringValues.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<wsdl:definitions xmlns:tns="urn:no:elhub:emif:wsdl:polling:meteringvalues:v2"
                  xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
                  xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
                  xmlns:xsd="http://www.w3.org/2001/XMLSchema"
                  targetNamespace="urn:no:elhub:emif:wsdl:polling:meteringvalues:v2"
                  xmlns:cmn="urn:no:elhub:emif:wsdl:common:v2">

    <wsdl:types>
        <xsd:schema xmlns="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" attributeFormDefault="unqualified" targetNamespace="urn:no:elhub:emif:wsdl:polling:meteringvalues:v2"
                    version="2.3">
            <xsd:include schemaLocation="xsd/PollMeteringValues.xsd"/>
        </xsd:schema>
    </wsdl:types>

    <wsdl:message name="PollForDataRequest">
        <wsdl:part element="tns:PollForDataRequest" name="PollForDataRequest">
        </wsdl:part>
    </wsdl:message>

    <wsdl:message name="PollForDataResponse">
        <wsdl:part element="tns:PollForDataResponse" name="PollForDataResponse">
        </wsdl:part>
    </wsdl:message>

    <wsdl:message name="AcknowledgePollRequest">
        <wsdl:part element="tns:AcknowledgePollRequest" name="AcknowledgePollRequest">
        </wsdl:part>
    </wsdl:message>

    <wsdl:message name="AcknowledgePollResponse">
    </wsdl:message>

    <wsdl:message name="ElhubSOAPFault">
        <wsdl:part name="ElhubSOAPFault" element="cmn:ElhubSOAPFault"/>
    </wsdl:message>

    <wsdl:portType name="MeteringValuesPolling">
        <wsdl:operation name="PollForData">
            <wsdl:input message="tns:PollForDataRequest" name="PollForDataRequest">
            </wsdl:input>
            <wsdl:output message="tns:PollForDataResponse" name="PollForDataResponse">
            </wsdl:output>
            <wsdl:fault name="ElhubSOAPFault" message="tns:ElhubSOAPFault" />
        </wsdl:operation>
        <wsdl:operation name="AcknowledgePoll">
            <wsdl:input message="tns:AcknowledgePollRequest" name="AcknowledgePollRequest">
            </wsdl:input>
            <wsdl:output message="tns:AcknowledgePollResponse" name="AcknowledgePollResponse">
            </wsdl:output>
            <wsdl:fault name="ElhubSOAPFault" message="tns:ElhubSOAPFault" />
        </wsdl:operation>
    </wsdl:portType>

    <wsdl:binding name="MeteringValuesPollingSoapBinding" type="tns:MeteringValuesPolling">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="PollForData">
            <soap:operation soapAction="PollForData"/>
            <wsdl:input name="PollForDataRequest">
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="PollForDataResponse">
                <soap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="ElhubSOAPFault">
                <soap:fault name="ElhubSOAPFault" use="literal"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="AcknowledgePoll">
            <soap:operation soapAction="AcknowledgePoll"/>
            <wsdl:input name="AcknowledgePollRequest">
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="AcknowledgePollResponse">
                <soap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="ElhubSOAPFault">
                <soap:fault name="ElhubSOAPFault" use="literal"/>
            </wsdl:fault>
        </wsdl:operation>
    </wsdl:binding>

    <wsdl:service name="MeteringValuesPollingService">
        <wsdl:port binding="tns:MeteringValuesPollingSoapBinding" name="MeteringValuesPolling">
            <soap:address location="http://localhost:8083/WebService/services/PollMeteringValues"/>
        </wsdl:port>
    </wsdl:service>

</wsdl:definitions>
