elhub_sdk/wsdl/test/2.3/wsdl/MeteringValues - WS-Security.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<wsdl:definitions xmlns:tns="urn:no:elhub:emif:wsdl:meteringvalues:v2" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="urn:no:elhub:emif:wsdl:meteringvalues:v2" xmlns:cmn="urn:no:elhub:emif:wsdl:common:v2">
	<wsp1_2:Policy xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:ns1="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" ns1:Id="wss10_x509_certificates_sign_encrypt">
		<wsp1_2:ExactlyOne>
			<wsp1_2:All>
				<ns2:AsymmetricBinding xmlns:ns2="http://docs.oasis-open.org/ws-sx/ws-securitypolicy/200702">
					<wsp1_2:Policy>
						<wsp1_2:ExactlyOne>
							<wsp1_2:All>
								<ns2:AlgorithmSuite>
									<wsp1_2:Policy>
										<wsp1_2:ExactlyOne>
											<wsp1_2:All>
												<ns2:Basic256/>
											</wsp1_2:All>
										</wsp1_2:ExactlyOne>
									</wsp1_2:Policy>
								</ns2:AlgorithmSuite>
								<ns2:IncludeTimestamp/>
								<ns2:InitiatorToken>
									<wsp1_2:Policy>
										<wsp1_2:ExactlyOne>
											<wsp1_2:All>
												<ns2:X509Token ns2:IncludeToken="http://docs.oasis-open.org/ws-sx/ws-securitypolicy/200702/IncludeToken/AlwaysToRecipient">
													<wsp1_2:Policy>
														<wsp1_2:ExactlyOne>
															<wsp1_2:All>
																<ns2:WssX509V3Token10/>
															</wsp1_2:All>
														</wsp1_2:ExactlyOne>
													</wsp1_2:Policy>
												</ns2:X509Token>
											</wsp1_2:All>
										</wsp1_2:ExactlyOne>
									</wsp1_2:Policy>
								</ns2:InitiatorToken>
								<ns2:Layout>
									<wsp1_2:Policy>
										<wsp1_2:ExactlyOne>
											<wsp1_2:All>
												<ns2:Strict/>
											</wsp1_2:All>
										</wsp1_2:ExactlyOne>
									</wsp1_2:Policy>
								</ns2:Layout>
								<ns2:OnlySignEntireHeadersAndBody/>
								<ns2:RecipientToken>
									<wsp1_2:Policy>
										<wsp1_2:ExactlyOne>
											<wsp1_2:All>
												<ns2:X509Token ns2:IncludeToken="http://docs.oasis-open.org/ws-sx/ws-securitypolicy/200702/IncludeToken/Never">
													<wsp1_2:Policy>
														<wsp1_2:ExactlyOne>
															<wsp1_2:All>
																<ns2:WssX509V3Token10/>
															</wsp1_2:All>
														</wsp1_2:ExactlyOne>
													</wsp1_2:Policy>
												</ns2:X509Token>
											</wsp1_2:All>
										</wsp1_2:ExactlyOne>
									</wsp1_2:Policy>
								</ns2:RecipientToken>
							</wsp1_2:All>
						</wsp1_2:ExactlyOne>
					</wsp1_2:Policy>
				</ns2:AsymmetricBinding>
				<ns3:Wss10 xmlns:ns3="http://docs.oasis-open.org/ws-sx/ws-securitypolicy/200702">
					<wsp1_2:Policy>
						<wsp1_2:ExactlyOne>
							<wsp1_2:All>
								<ns3:MustSupportRefKeyIdentifier/>
							</wsp1_2:All>
						</wsp1_2:ExactlyOne>
					</wsp1_2:Policy>
				</ns3:Wss10>
			</wsp1_2:All>
		</wsp1_2:ExactlyOne>
	</wsp1_2:Policy>
	<wsp1_2:Policy xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:ns1="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" ns1:Id="sign_body">
		<wsp1_2:ExactlyOne>
			<wsp1_2:All>
				<ns2:SignedParts xmlns:ns2="http://schemas.xmlsoap.org/ws/2005/07/securitypolicy">
					<ns2:Body/>
				</ns2:SignedParts>
			</wsp1_2:All>
		</wsp1_2:ExactlyOne>
	</wsp1_2:Policy>
	<wsdl:types>
		<xsd:schema xmlns="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" attributeFormDefault="unqualified" targetNamespace="urn:no:elhub:emif:wsdl:meteringvalues:v2" version="2.3">
			<xsd:include schemaLocation="xsd/MeteringValues.xsd"/>
		</xsd:schema>
	</wsdl:types>
	<wsdl:message name="CollectedDataRequest">
		<wsdl:part element="tns:CollectedDataRequest" name="CollectedDataRequest">
        </wsdl:part>
	</wsdl:message>
	<wsdl:message name="CollectedDataResponse">
    </wsdl:message>
	<wsdl:message name="AcknowledgeRequest">
		<wsdl:part element="tns:AcknowledgeRequest" name="AcknowledgeRequest">
		</wsdl:part>
	</wsdl:message>
	<wsdl:message name="AcknowledgeResponse">
	</wsdl:message>
	<wsdl:message name="ElhubSOAPFault">
		<wsdl:part name="ElhubSOAPFault" element="cmn:ElhubSOAPFault"/>
	</wsdl:message>
	<wsdl:portType name="MeteringValues">
		<wsdl:operation name="CollectedData">
			<wsdl:input message="tns:CollectedDataRequest" name="CollectedDataRequest">
            </wsdl:input>
			<wsdl:output message="tns:CollectedDataResponse" name="CollectedDataResponse">
            </wsdl:output>
			<wsdl:fault name="ElhubSOAPFault" message="tns:ElhubSOAPFault"/>
		</wsdl:operation>
		<wsdl:operation name="Acknowledge">
			<wsdl:input message="tns:AcknowledgeRequest" name="AcknowledgeRequest">
			</wsdl:input>
			<wsdl:output message="tns:AcknowledgeResponse" name="AcknowledgeResponse">
			</wsdl:output>
			<wsdl:fault name="ElhubSOAPFault" message="tns:ElhubSOAPFault" />
		</wsdl:operation>
	</wsdl:portType>
	<wsdl:binding name="MeteringValuesSoapBinding" type="tns:MeteringValues">
		<soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
		<PolicyReference xmlns="http://schemas.xmlsoap.org/ws/2004/09/policy" URI="#wss10_x509_certificates_sign_encrypt"/>
		<wsdl:operation name="CollectedData">
			<soap:operation soapAction="CollectedData"/>
			<wsdl:input name="CollectedDataRequest">
				<soap:body use="literal"/>
				<PolicyReference xmlns="http://schemas.xmlsoap.org/ws/2004/09/policy" URI="#sign_body"/>
			</wsdl:input>
			<wsdl:output name="CollectedDataResponse">
				<soap:body use="literal"/>
				<PolicyReference xmlns="http://schemas.xmlsoap.org/ws/2004/09/policy" URI="#sign_body"/>
			</wsdl:output>
			<wsdl:fault name="ElhubSOAPFault">
				<soap:fault name="ElhubSOAPFault" use="literal" URI="#sign_body"/>
			</wsdl:fault>
		</wsdl:operation>
		<wsdl:operation name="Acknowledge">
			<soap:operation soapAction="Acknowledge"/>
			<wsdl:input name="AcknowledgeRequest">
				<soap:body use="literal"/>
				<PolicyReference xmlns="http://schemas.xmlsoap.org/ws/2004/09/policy" URI="#sign_body"/>
			</wsdl:input>
			<wsdl:output name="AcknowledgeResponse">
				<soap:body use="literal"/>
				<PolicyReference xmlns="http://schemas.xmlsoap.org/ws/2004/09/policy" URI="#sign_body"/>
			</wsdl:output>
			<wsdl:fault name="ElhubSOAPFault">
				<soap:fault name="ElhubSOAPFault" use="literal" URI="#sign_body"/>
			</wsdl:fault>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:service name="MeteringValuesService">
		<wsdl:port binding="tns:MeteringValuesSoapBinding" name="MeteringValues">
			<soap:address location="https://service-mt1.elhub.no/WebService/services/MeteringValues"/>
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>
